/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
.statusbar-overlay {
    background: #000000;
}
.view-main {
  background: url(../img/Background.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
/*#piechart {
    width: 90%;
    height: 90%;
}*/
.select-item-checkbox {
    width: 50%;
}

.pages,
.page {
  background: none;
}
.view-main .navbar:after {
  display: none;
}
.expense-items-list {
  margin: 0;
  font-weight: 300;
}
.expense-items-list ul {
  background: none;
}
.expense-items-list ul:after,
.expense-items-list ul:before {
  display: none;
}
.expense-items-list .item-title {
  font-size: 18px;
}
.expense-items-list .swipeout-content {
  background: none;
}
.expense-items-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
}
.expense-items-list .item-inner:after {
  background: rgba(255, 255, 255, 0.2);
}
.expense-items-list .label-checkbox.active-state {
  background: rgba(255, 255, 255, 0.2);
}
.expense-items-list .item-content {
  border-left: 5px solid;
}
.expense-items-list li[data-color="orange"] .item-content {
  border-left-color: #ff8400;
}
.expense-items-list li[data-color="blue"] .item-content {
  border-left-color: #089efe;
}
.expense-items-list li[data-color="green"] .item-content {
  border-left-color: #2df523;
}
.expense-items-list li[data-color="white"] .item-content {
  border-left-color: #000;
}
.expense-items-list li[data-color="yellow"] .item-content {
  border-left-color: #eaff00;
}
.expense-items-list li[data-color="pink"] .item-content {
  border-left-color: #cc0442;
}
.expense-items-list li[data-color="purple"] .item-content {
  border-left-color: #ff00f0;
}
.expense-items-list li[data-color="cyan"] .item-content {
  border-left-color: #00fff6;
}
.popup .navbar:after {
  display: none;
}
.popup .list-block ul {
  background: none;
  border: none;
}
.popup .list-block ul:after,
.popup .list-block ul:before {
  display: none;
}
.popup .item-inner:after {
  background-color: rgba(255, 255, 255, 0.2);
}
.popup .button {
  border-color: #fff;
  color: #fff;
}
.popup .button.active-state {
  background: rgba(255, 255, 255, 0.1);
}
.popup span.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  /*background: #000;*/
  vertical-align: middle;
  margin-right: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.popup span.color:last-child {
  margin-right: 0;
}
.popup span.color[data-color="orange"] {
  background: #ff8400;
}
.popup span.color[data-color="pink"] {
  background: #cc0442;
}
.popup span.color[data-color="blue"] {
  background: #089efe;
}
.popup span.color[data-color="green"] {
  background: #2df523;
}
.popup span.color[data-color="yellow"] {
  background: #eaff00;
}
.popup span.color[data-color="white"] {
  background: #fff;
}
.popup span.color[data-color="purple"] {
  background: #ff00f0;
}
.popup span.color[data-color="cyan"] {
  background: #00fff6;
}
.popup span.color.selected {
  -webkit-transform: translate3d(0, 0, 0) scale(1.25);
  -moz-transform: translate3d(0, 0, 0) scale(1.25);
  -ms-transform: translate3d(0, 0, 0) scale(1.25);
  -o-transform: translate3d(0, 0, 0) scale(1.25);
  transform: translate3d(0, 0, 0) scale(1.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
@media all and (min-width: 568px) {
  .popup span.color {
    margin-right: 10px;
  }
}
body.with-popup .view-main {
  -webkit-transform: translate3d(0, 0px, 0) scale(0.85);
  -moz-transform: translate3d(0, 0px, 0) scale(0.85);
  -ms-transform: translate3d(0, 0px, 0) scale(0.85);
  -o-transform: translate3d(0, 0px, 0) scale(0.85);
  transform: translate3d(0, 0px, 0) scale(0.85);
  -webkit-filter: blur(5px);
}
body.with-popup .statusbar-overlay {
  background: darkgreen;
}
@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.modal-inner {
  background: green;
  color: #fff;
}
.modal-inner:after {
  background: darkgreen;
}
.modal-button {
  background: green;
  color: #fff;
}
.modal-button:after {
  background: darkgreen;
}
.modal-button.active-state {
  background: darkgreen;
}


/*.navbar {
    background-color: rgb(74, 115, 55);
}*/